In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from sklearn import tree


import warnings
warnings.filterwarnings('ignore')

from collections import Counter


%matplotlib inline
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import roc_auc_score
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
from sklearn import metrics
from sklearn.metrics import accuracy_score

In [2]:
te_df = pd.read_csv('test7.csv')
ta_df = pd.read_csv('train7.csv')

In [3]:
ta_df['Credit_Score'].replace({"Poor":0, "Standard":1, "Good":2}, inplace=True)
ta_df['Credit_Mix'].replace({"Bad":0, "Standard":1, "Good":2}, inplace=True)
ta_df['Payment_of_Min_Amount'].replace({"Yes":1, "No":0}, inplace=True)

# Check if the columns 'Occupation' and 'Payment_Behaviour' are present in ta_df
if 'Occupation' in ta_df.columns and 'Payment_Behaviour' in ta_df.columns:
    ta_df = pd.get_dummies(ta_df, columns = ['Occupation', 'Payment_Behaviour'])


ta_df

,ID,Customer_ID,Month,Name,Age,SSN,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Occupation_Teacher,Occupation_Writer,Occupation________,Payment_Behaviour_!@9#%8,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,19114.12,1824.843333,3,4,...,0,0,0,0,0,0,1,0,0,0
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,19114.12,NaN,3,4,...,0,0,0,0,0,0,0,1,0,0
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,19114.12,NaN,3,4,...,0,0,0,0,0,0,0,0,1,0
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,19114.12,NaN,3,4,...,0,0,0,0,0,0,0,0,0,1
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,19114.12,1824.843333,3,4,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0x25fe9,CUS_0x942c,April,Nicks,25,078-73-5990,39628.99,3359.415833,4,6,...,0,0,0,0,1,0,0,0,0,0
99996,0x25fea,CUS_0x942c,May,Nicks,25,078-73-5990,39628.99,3359.415833,4,6,...,0,0,0,0,0,1,0,0,0,0
99997,0x25feb,CUS_0x942c,June,Nicks,25,078-73-5990,39628.99,3359.415833,4,6,...,0,0,0,0,1,0,0,0,0,0
99998,0x25fec,CUS_0x942c,July,Nicks,25,078-73-5990,39628.99,3359.415833,4,6,...,0,0,0,0,0,0,0,1,0,0
99999,0x25fed,CUS_0x942c,August,Nicks,25,078-73-5990,39628.99_,3359.415833,4,6,...,0,0,0,1,0,0,0,0,0,0